header,footer {
    background-color: blue;
    border-radius: 7px;
    height: 75px;
}

.container {
    display: flex;

}


nav {
    display: flex;
    justify-content: flex-start;
}

article {
    display: flex;
    background-color: lightblue;
    margin: 10px;
    border-radius: 7px;
    width: 80vw;
}


aside {
    display: flex;
}
nav, aside {
    background-color:orange ;
    height: 1000px;
    margin: 10px;
    border-radius: 7px;
    width: 250px;
}