header,footer {
    background-color: blue;
    border-radius: 7px;
    height: 75px;
}

.container {
    display: flex;

}


nav {
    justify-content: flex-start;
    order: -1;
}

article {
    background-color: cornflowerblue;
    margin: 10px;
    border-radius: 7px;
    width: 80vw;
}

nav, aside {
    background-color:coral ;
    height: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 250px;
}